<p id="notice">Book was successfully created.</p>

<p><strong>Title:</strong> <%= @book.title %></p>

<p><strong>Body:</strong> <%= @book.body %></p>


<a href="/books/edit">Edit</a> |
<a href="/books/new">Back</a>